<link rel="stylesheet" href="~/Content/cards-1.css" />

<div class="container">
    <div class="cardsgreen">
        <h2 class="title">Nossos Produtos</h2>
        <div class="cards">
            <div class="card">
                <img src="~/assets/img/img10.jpg" alt="colectoria">
                <h1>Melancia Oriental</h1>
                <h3>Suco de Melancia Oriental</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="card">
                <img src="~/assets/img/img11.jpg" alt="colectoria">
                <h1>Morosil</h1>
                <h3>Laranjas vindas do Mediterrâneo</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="card">
                <img src="~/assets/img/img12.jpg" alt="colectoria">
                <h1>Pinot Noir</h1>
                <h3>Um verdadeiro suco Italiano</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>

    <div class="jumbotron opacity-4">
        <h1>Juice Style</h1>
        <p class="lead">Para conhecer mais sobre nossos produtos, basta clicar no botão abaixo</p>
        <!-- Html.ActionLink("Entre &raquo;", "Index", "Produto", null, new { style = "text-decoration:none", class = "button_target" }) -->
        <p><a class="button_target" href="#" style="text-decoration:none">Entre &raquo;</a></p>
    </div>
</div>

<div class="secondContainer">
    <a class="btnn btn-2" href="#" style="text-decoration:none">Saiba mais</a>
</div>
